@model MiqroMoney.Models.MerchantProcessingIDs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MerchantProcessingIDs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MerchantID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MerchantID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Timestamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timestamp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastModifiedTimestamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedTimestamp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MerchantProcessingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
