@{
    ViewBag.Title = "Benefits";
}

<hgroup class="title">
    <h1>mIQro Money.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>

<h2>What is a Micro Loan generally needed for?</h2>
            <p>Operating a successful small business is as much an exercise in cash  management as anything&nbsp; else. However,  for the small retail merchants who are susceptible to dramatic swings in  consumer purchasing behavior, fluctuations in merchandise pricing and a host of  unforeseen business events, these all impact availability to cash and can be  the difference between success or failure. </p>
            <p>mIQro Money&rsquo;s cash-on-demand can help deal with any  periodic business emergencies including:</p>
			<ul>
            <li>Pay  Payroll</li>
            <li>Pay  Taxes</li>
            <li>Marketing  and Advertising</li>
            <li>Inventory  Deals</li>
            <li>Hardware  or Software Purchases</li>
            <li>Rent</li>
            <li>Utilities</li>
            <li>Past  Due Bills</li>
            </ul>

</article>


<aside>
    <h3>More Information</h3>
    <p>
        Looking for more information about mIQro Money?
    </p>
    <ul>
        <li>@Html.ActionLink("How much can I borrow?", "Borrow", "Home")</li>
        <li>@Html.ActionLink("Frequently Asked Questions", "FAQs", "Home")</li>
        <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
        <li>@Html.ActionLink("Requirements", "Requirements", "Home")</li>
        <li>@Html.ActionLink("Repayment", "Repayment", "Home")</li>

    </ul>
</aside>