@{
    ViewBag.Title = "Info_Borrow";
}

<hgroup class="title">
    <h1>mIQro Money.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
<p>Your personal line of credit is based upon your average monthly credit card   processing.&nbsp; The more you average per month in payment processing the more money   you will have access to.&nbsp; For instance, if you process $25,000 a month in Visa,   MasterCard, and Discover credit card payments you will have the ability to have   access to as much as $2,500 to draw upon in any incremental amount you need, You   can take as much or as little as needed as often as you need it to help in   managing your business cash flow. </p>
<p>Additionally, the longer you use your mIQro Money line of credit the greater   your opportunity to access ever a larger line of credit.&nbsp; But, most importantly,   once you have an active mIQro Money line of credit you will always have the   access to money for your business when you need it.&nbsp; </p>
<p>In simple terms, your line of credit is based upon a10% of your monthly   credit card processing.&nbsp; If you process $10,000 a month, you will have access to   $1,000 any time you want.&nbsp; As your volume increase you have access to an   increasing line of credit.</p>

</article>

<aside>
    <h3>More Information</h3>
    <p>
        Looking for more information about mIQro Money?
    </p>
    <ul>
        <li>@Html.ActionLink("How much can I borrow?", "Borrow", "Home")</li>
        <li>@Html.ActionLink("Frequently Asked Questions", "FAQs", "Home")</li>
        <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
        <li>@Html.ActionLink("Requirements", "Requirements", "Home")</li>
        <li>@Html.ActionLink("Repayment", "Repayment", "Home")</li>

    </ul>
</aside>