@{
    ViewBag.Title = "FAQs";
}

<hgroup class="title">
    <h1>mIQro Money.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>

<h2><strong>How does it work?</strong></h2>
<p>Your business will have instant access  to a mIQro Money line of credit equal to 10% of your average monthly credit  card processing, up to $3,000.&nbsp; That  means that you can draw upon these funds as often as you need, at any time and  for any reason.&nbsp; </p>
<h2><strong>Are you required to switch your  payment processing Company?</strong></h2>
<p>mIQro Money works with many major  processing platforms so in most cases we able work with your existing merchant  service provider and processor.&nbsp; If your  processor has not as yet certified with mIQro Money, you may need to switch  your payment processing, in order to have instant access to your mIQro  Money.&nbsp; To find out if your Merchant  Processor is supported by mIQro Money please call (855) 496-4776.&nbsp; </p>
<p>If you want access to mIQro Money and  your processor is not certified, we can recommend options including several of  the largest payment processor that have been certified by mIQro Money.</p>
<h2><strong>How much does it cost?</strong></h2>
<p>mIQro Money has no application cost and  charges a simple flat fee of 10% of any amount borrowed. There is no surcharge  for multiple transactions and you can borrow as often as needed up to your  credit limit of 10% of your average monthly processed credit card transactions  to a maximum of $3,000.</p></article>

<aside>
    <h3>More Information</h3>
    <p>
        Looking for more information about mIQro Money?
    </p>
    <ul>
        <li>@Html.ActionLink("How much can I borrow?", "Borrow", "Home")</li>
        <li>@Html.ActionLink("Frequently Asked Questions", "FAQs", "Home")</li>
        <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
        <li>@Html.ActionLink("Requirements", "Requirements", "Home")</li>
        <li>@Html.ActionLink("Repayment", "Repayment", "Home")</li>

    </ul>
</aside>