@{
    ViewBag.Title = "Requirements";
}

<hgroup class="title">
    <h1>mIQro Money.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>

<h2><strong>What is required to get a mIQro  Money Line of Credit?</strong></h2>
<p>Applying for a mIQro Money line of  credit is no different than applying for a merchant account.&nbsp; You must be a legal entity (mIQro Money is  not available currently for sole proprietors), complete the mIQro Money  application and provide the following documents:</p>
<ol>
  <li>Banking Information - Voided  Check or Bank Verification&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
  <li>Articles of Incorporation or  Partnership</li>
  <li>Business License&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
  <li>Three (3) current processing  statements </li>
  <li>Owner&rsquo;s Drivers License or other  Government Issued ID          </li>
</ol>

</article>

<aside>
    <h3>More Information</h3>
    <p>
        Looking for more information about mIQro Money?
    </p>
    <ul>
        <li>@Html.ActionLink("How much can I borrow?", "Borrow", "Home")</li>
        <li>@Html.ActionLink("Frequently Asked Questions", "FAQs", "Home")</li>
        <li>@Html.ActionLink("Benefits", "Benefits", "Home")</li>
        <li>@Html.ActionLink("Requirements", "Requirements", "Home")</li>
        <li>@Html.ActionLink("Repayment", "Repayment", "Home")</li>

    </ul>
</aside>